.submitted__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding: 12px 24px 16px; 
}

.form__container--submitted {
    display: flex;
    flex-direction: column;
}

.text__label--submitted {
    margin: 12px 0px;
}

.text__input--submitted {
    margin: 10px 0px;
}

.label__input--submitted {
    font-weight: 700;
    margin: 12px 0px; 
}

.terms__container--submitted {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox__input:disabled {
    width: 16px;
    height: 16px;
}

.link__btn {
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    border: 0;
    border-radius: var(--global-radius);
    background-color: var(--global-primary-color);
    color: #ffffff;
    padding: 8px;
    transition: all .3s ease-out;
    cursor: pointer;
}

.link__btn:hover {
    color: var(--global-primary-color);
    outline: 1px solid var(--global-primary-color);
    background-color: #ffffff;
}

.error__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
    color: var(--global-error-color);
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width:720px) {
    .error__container {
        height: 300px;
    }
}